.nav
{
    background-color: rgb(73, 70, 70);
    color: white;
    display: flex;
    justify-content: space-between;
}

.nav-title
{
    margin-left: 20px;
}

.nav-links
{
    display: flex;
    align-items: center;
    list-style:none;
    margin: 20px;
}

a
{
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.active
{
    font-weight: bold;
}

.btn
{
    background-color: #17a2b8;
    border: 1px solid rgb(59, 59, 59);
    box-shadow: 3px 4px rgb(61, 60, 60);
    font-size: 18px;
}